.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(#1d2e3d, #354656);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0D6E6E;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #4a9d9c;
}

p {
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  margin: 0;
}